In [74]:
import pandas as pd
import plotly.express as px

df = pd.read_csv("Datasets/speeddating_1.csv", encoding="ISO-8859-1")

values = df['d_expected_happy_with_sd_people'].value_counts()

print(values)

[5-6]     4036
[7-10]    2329
[0-4]     2013
Name: d_expected_happy_with_sd_people, dtype: int64

c:\users\bartek\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,10,11,15,16,17,18,19,39,40,41,42,43,44,51,52,53,54,55,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,107,109) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [75]:
filter_col = [col for col in df if col.startswith('d_')]
filter_col

['d_age',
 'd_d_age',
 'd_importance_same_race',
 'd_importance_same_religion',
 'd_pref_o_attractive',
 'd_pref_o_sincere',
 'd_pref_o_intelligence',
 'd_pref_o_funny',
 'd_pref_o_ambitious',
 'd_pref_o_shared_interests',
 'd_attractive_o',
 'd_sinsere_o',
 'd_intelligence_o',
 'd_funny_o',
 'd_ambitous_o',
 'd_shared_interests_o',
 'd_attractive_important',
 'd_sincere_important',
 'd_intellicence_important',
 'd_funny_important',
 'd_ambtition_important',
 'd_shared_interests_important',
 'd_attractive',
 'd_sincere',
 'd_intelligence',
 'd_funny',
 'd_ambition',
 'd_attractive_partner',
 'd_sincere_partner',
 'd_intelligence_partner',
 'd_funny_partner',
 'd_ambition_partner',
 'd_shared_interests_partner',
 'd_sports',
 'd_tvsports',
 'd_exercise',
 'd_dining',
 'd_museums',
 'd_art',
 'd_hiking',
 'd_gaming',
 'd_clubbing',
 'd_reading',
 'd_tv',
 'd_theater',
 'd_movies',
 'd_concerts',
 'd_music',
 'd_shopping',
 'd_yoga',
 'd_interests_correlate',
 'd_expected_happy_with_sd_people',
 'd_expected_num_interested_in_me',
 'd_expected_num_matches',
 'd_like',
 'd_guess_prob_liked']

In [76]:
cols = set(df.columns)
categorized_cols = ["gender"] + [col for col in df if col.startswith('d_')]
categorized_df = df[categorized_cols]
categorized_df

,gender,d_age,d_d_age,d_importance_same_race,d_importance_same_religion,d_pref_o_attractive,d_pref_o_sincere,d_pref_o_intelligence,d_pref_o_funny,d_pref_o_ambitious,...,d_concerts,d_music,d_shopping,d_yoga,d_interests_correlate,d_expected_happy_with_sd_people,d_expected_num_interested_in_me,d_expected_num_matches,d_like,d_guess_prob_liked
0,female,6,[4-6],[2-5],[2-5],[21-100],[16-20],[16-20],[16-20],[0-15],...,[9-10],[9-10],[6-8],[0-5],[0-0.33],[0-4],[0-3],[3-5],[6-8],[5-6]
1,female,1,[0-1],[2-5],[2-5],[21-100],[0-15],[0-15],[21-100],[0-15],...,[9-10],[9-10],[6-8],[0-5],[0.33-1],[0-4],[0-3],[3-5],[6-8],[5-6]
2,female,1,[0-1],[2-5],[2-5],[16-20],[16-20],[16-20],[16-20],[0-15],...,[9-10],[9-10],[6-8],[0-5],[0-0.33],[0-4],[0-3],[3-5],[6-8],[0-4]
3,female,2,[2-3],[2-5],[2-5],[21-100],[0-15],[0-15],[21-100],[0-15],...,[9-10],[9-10],[6-8],[0-5],[0.33-1],[0-4],[0-3],[3-5],[6-8],[5-6]
4,female,3,[2-3],[2-5],[2-5],[21-100],[0-15],[16-20],[0-15],[0-15],...,[9-10],[9-10],[6-8],[0-5],[0-0.33],[0-4],[0-3],[3-5],[6-8],[5-6]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,male,1,[0-1],[0-1],[0-1],[0-15],[0-15],[21-100],[16-20],[0-15],...,[9-10],[9-10],[6-8],[0-5],[0.33-1],[7-10],[0-3],[3-5],[0-5],[5-6]
8374,male,1,[0-1],[0-1],[0-1],[21-100],[16-20],[0-15],[0-15],[0-15],...,[9-10],[9-10],[6-8],[0-5],[0.33-1],[7-10],[0-3],[3-5],[0-5],[0-4]
8375,male,4,[4-6],[0-1],[0-1],[21-100],[0-15],[21-100],[0-15],[0-15],...,[9-10],[9-10],[6-8],[0-5],[-1-0],[7-10],[0-3],[3-5],[6-8],[5-6]
8376,male,3,[2-3],[0-1],[0-1],[0-15],[21-100],[21-100],[0-15],[0-15],...,[9-10],[9-10],[6-8],[0-5],[0.33-1],[7-10],[0-3],[3-5],[0-5],[5-6]
8377,male,3,[2-3],[0-1],[0-1],[16-20],[16-20],[0-15],[0-15],[0-15],...,[9-10],[9-10],[6-8],[0-5],[0-0.33],[7-10],[0-3],[3-5],[0-5],[5-6]

In [77]:

cat_1hot = pd.get_dummies(categorized_df)
cat_1hot

,d_age,gender_female,gender_male,d_d_age_[0-1],d_d_age_[2-3],d_d_age_[4-6],d_d_age_[7-37],d_importance_same_race_[0-1],d_importance_same_race_[2-5],d_importance_same_race_[6-10],...,d_expected_num_interested_in_me_[4-9],d_expected_num_matches_[0-2],d_expected_num_matches_[3-5],d_expected_num_matches_[5-18],d_like_[0-5],d_like_[6-8],d_like_[9-10],d_guess_prob_liked_[0-4],d_guess_prob_liked_[5-6],d_guess_prob_liked_[7-10]
0,6,1,0,0,0,1,0,0,1,0,...,0,0,1,0,0,1,0,0,1,0
1,1,1,0,1,0,0,0,0,1,0,...,0,0,1,0,0,1,0,0,1,0
2,1,1,0,1,0,0,0,0,1,0,...,0,0,1,0,0,1,0,1,0,0
3,2,1,0,0,1,0,0,0,1,0,...,0,0,1,0,0,1,0,0,1,0
4,3,1,0,0,1,0,0,0,1,0,...,0,0,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,1,0,1,1,0,0,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
8374,1,0,1,1,0,0,0,1,0,0,...,0,0,1,0,1,0,0,1,0,0
8375,4,0,1,0,0,1,0,1,0,0,...,0,0,1,0,0,1,0,0,1,0
8376,3,0,1,0,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0
8377,3,0,1,0,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,1,0

In [78]:
encoded = df[["samerace", "met", "decision"]]
a = ("0","1")
encoded = encoded[encoded['met'].isin(a)]
print(encoded.value_counts())
encoded["samerace"].isna().sum()

samerace  met  decision
0         0    0           2718
               1           1893
1         0    0           1706
               1           1327
0         1    1            131
1         1    1             82
0         1    0             72
1         1    0             66
dtype: int64

0

In [79]:
cat_1hot = cat_1hot.join(encoded)
cat_1hot

,d_age,gender_female,gender_male,d_d_age_[0-1],d_d_age_[2-3],d_d_age_[4-6],d_d_age_[7-37],d_importance_same_race_[0-1],d_importance_same_race_[2-5],d_importance_same_race_[6-10],...,d_expected_num_matches_[5-18],d_like_[0-5],d_like_[6-8],d_like_[9-10],d_guess_prob_liked_[0-4],d_guess_prob_liked_[5-6],d_guess_prob_liked_[7-10],samerace,met,decision
0,6,1,0,0,0,1,0,0,1,0,...,0,0,1,0,0,1,0,0.0,0,1.0
1,1,1,0,1,0,0,0,0,1,0,...,0,0,1,0,0,1,0,0.0,1,1.0
2,1,1,0,1,0,0,0,0,1,0,...,0,0,1,0,1,0,0,1.0,1,1.0
3,2,1,0,0,1,0,0,0,1,0,...,0,0,1,0,0,1,0,0.0,0,1.0
4,3,1,0,0,1,0,0,0,1,0,...,0,0,1,0,0,1,0,0.0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,1,0,1,1,0,0,0,1,0,0,...,0,1,0,0,0,1,0,0.0,0,0.0
8374,1,0,1,1,0,0,0,1,0,0,...,0,1,0,0,1,0,0,0.0,0,0.0
8375,4,0,1,0,0,1,0,1,0,0,...,0,0,1,0,0,1,0,0.0,0,0.0
8376,3,0,1,0,1,0,0,1,0,0,...,0,1,0,0,0,1,0,0.0,0,0.0
8377,3,0,1,0,1,0,0,1,0,0,...,0,1,0,0,0,1,0,0.0,0,0.0

In [85]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(cat_1hot, test_size=0.1)
train

,d_age,gender_female,gender_male,d_d_age_[0-1],d_d_age_[2-3],d_d_age_[4-6],d_d_age_[7-37],d_importance_same_race_[0-1],d_importance_same_race_[2-5],d_importance_same_race_[6-10],...,d_expected_num_matches_[5-18],d_like_[0-5],d_like_[6-8],d_like_[9-10],d_guess_prob_liked_[0-4],d_guess_prob_liked_[5-6],d_guess_prob_liked_[7-10],samerace,met,decision
6108,2,0,1,0,1,0,0,0,0,1,...,0,0,1,0,0,0,1,1.0,0,1.0
5559,2,0,1,0,1,0,0,1,0,0,...,0,1,0,0,1,0,0,NaN,NaN,NaN
8200,1,0,1,1,0,0,0,0,1,0,...,0,0,1,0,0,1,0,1.0,0,0.0
6272,1,0,1,1,0,0,0,1,0,0,...,0,0,1,0,0,0,1,1.0,0,0.0
2882,1,1,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,1,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4578,6,1,0,0,0,1,0,0,1,0,...,0,0,1,0,0,0,1,0.0,0,0.0
6414,4,0,1,0,0,1,0,0,1,0,...,0,1,0,0,0,1,0,1.0,0,1.0
8324,4,0,1,0,0,1,0,0,1,0,...,1,0,1,0,0,1,0,1.0,0,1.0
2845,7,1,0,0,0,0,1,0,1,0,...,0,1,0,0,1,0,0,0.0,0,0.0
951,26,0,1,0,0,0,1,0,1,0,...,0,1,0,0,1,0,0,NaN,NaN,NaN

In [81]:
train_Y = train[['decision']]
train_Y

      decision
999        1.0
2405       1.0
4382       1.0
2022       1.0
5512       1.0
...        ...
2795       0.0
1019       1.0
7350       0.0
2306       1.0
3923       1.0

[7540 rows x 1 columns]

In [82]:
train_X = train.iloc[:, 0:-1]  # Remove the ID and Class columns
train_X

,d_age,gender_female,gender_male,d_d_age_[0-1],d_d_age_[2-3],d_d_age_[4-6],d_d_age_[7-37],d_importance_same_race_[0-1],d_importance_same_race_[2-5],d_importance_same_race_[6-10],...,d_expected_num_matches_[3-5],d_expected_num_matches_[5-18],d_like_[0-5],d_like_[6-8],d_like_[9-10],d_guess_prob_liked_[0-4],d_guess_prob_liked_[5-6],d_guess_prob_liked_[7-10],samerace,met
999,2,0,1,0,1,0,0,0,1,0,...,1,0,0,1,0,0,1,0,0.0,0
2405,5,0,1,0,0,1,0,0,1,0,...,1,0,0,1,0,0,1,0,1.0,0
4382,6,0,1,0,0,1,0,0,1,0,...,0,0,0,1,0,1,0,0,1.0,0
2022,1,1,0,1,0,0,0,0,1,0,...,1,0,0,1,0,1,0,0,1.0,0
5512,6,0,1,0,0,1,0,0,0,1,...,1,0,0,1,0,0,1,0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,5,1,0,0,0,1,0,0,1,0,...,0,0,1,0,0,0,0,1,0.0,0
1019,9,1,0,0,0,0,1,0,1,0,...,1,0,1,0,0,0,1,0,0.0,0
7350,1,1,0,1,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0,0.0,0
2306,4,0,1,0,0,1,0,1,0,0,...,1,0,0,1,0,0,1,0,0.0,0
3923,10,1,0,0,0,0,1,1,0,0,...,1,0,0,0,1,0,1,0,0.0,0

In [83]:
test

,d_age,gender_female,gender_male,d_d_age_[0-1],d_d_age_[2-3],d_d_age_[4-6],d_d_age_[7-37],d_importance_same_race_[0-1],d_importance_same_race_[2-5],d_importance_same_race_[6-10],...,d_expected_num_matches_[5-18],d_like_[0-5],d_like_[6-8],d_like_[9-10],d_guess_prob_liked_[0-4],d_guess_prob_liked_[5-6],d_guess_prob_liked_[7-10],samerace,met,decision
7676,0,1,0,1,0,0,0,0,1,0,...,0,0,1,0,1,0,0,1.0,0,0.0
6500,1,0,1,1,0,0,0,0,1,0,...,0,0,1,0,0,0,1,0.0,0,1.0
8341,0,0,1,1,0,0,0,0,1,0,...,0,0,1,0,0,0,1,0.0,0,1.0
6625,4,1,0,0,0,1,0,0,1,0,...,0,0,1,0,0,1,0,0.0,0,0.0
4497,8,1,0,0,0,0,1,0,0,1,...,1,1,0,0,0,0,1,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4610,6,1,0,0,0,1,0,0,0,1,...,0,0,1,0,0,0,1,0.0,0,1.0
6437,1,1,0,1,0,0,0,1,0,0,...,0,0,1,0,0,1,0,1.0,0,0.0
3194,3,0,1,0,1,0,0,0,0,1,...,0,0,1,0,0,0,1,1.0,0,1.0
2043,6,1,0,0,0,1,0,1,0,0,...,0,0,0,1,0,0,1,1.0,0,0.0
2643,1,1,0,1,0,0,0,0,1,0,...,1,0,1,0,0,0,1,1.0,0,1.0

In [84]:
# Use the k-NN method (up to k_max) to predict the output variable on x_test, using the training data
def predict(x_test, x_train, y_train, k_min=1, k_max=25):
    all_predictions = []
    for k in tqdm(range(k_min,k_max)):
        # Create KNN classifier
        knn = KNeighborsClassifier(n_neighbors=k)
        # Fit the classifier to the data
        knn.fit(x_train, y_train)
        # Predict on x_test
        prediction = knn.predict(x_test)
        all_predictions.append(prediction)
    return all_predictions


# Check the accuracy of given predictions on the test set y_test
def check_accuracy(y_test, predictions):
    ground_truth = y_test.to_list()
    size = len(ground_truth)
    results = []

    for predict in predictions:
        count = 0
        for i, x in enumerate(ground_truth):
            if predict[i] == ground_truth[i]:
                count += 1
        results.append(count / size)
    return results


#############################################################