In [1]:
import pandas as pd
import plotly.express as px

df = pd.read_csv("Datasets/speeddating_1.csv", encoding="ISO-8859-1")

values = df['d_expected_happy_with_sd_people'].value_counts()

print(values)

[5-6]     4036
[7-10]    2329
[0-4]     2013
Name: d_expected_happy_with_sd_people, dtype: int64

C:\Users\robin\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\IPython\core\interactiveshell.py:3437: DtypeWarning: Columns (3,10,11,15,16,17,18,19,39,40,41,42,43,44,51,52,53,54,55,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,107,109) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
filter_col = [col for col in df if col.startswith('d_')]
filter_col

['d_age',
 'd_d_age',
 'd_importance_same_race',
 'd_importance_same_religion',
 'd_pref_o_attractive',
 'd_pref_o_sincere',
 'd_pref_o_intelligence',
 'd_pref_o_funny',
 'd_pref_o_ambitious',
 'd_pref_o_shared_interests',
 'd_attractive_o',
 'd_sinsere_o',
 'd_intelligence_o',
 'd_funny_o',
 'd_ambitous_o',
 'd_shared_interests_o',
 'd_attractive_important',
 'd_sincere_important',
 'd_intellicence_important',
 'd_funny_important',
 'd_ambtition_important',
 'd_shared_interests_important',
 'd_attractive',
 'd_sincere',
 'd_intelligence',
 'd_funny',
 'd_ambition',
 'd_attractive_partner',
 'd_sincere_partner',
 'd_intelligence_partner',
 'd_funny_partner',
 'd_ambition_partner',
 'd_shared_interests_partner',
 'd_sports',
 'd_tvsports',
 'd_exercise',
 'd_dining',
 'd_museums',
 'd_art',
 'd_hiking',
 'd_gaming',
 'd_clubbing',
 'd_reading',
 'd_tv',
 'd_theater',
 'd_movies',
 'd_concerts',
 'd_music',
 'd_shopping',
 'd_yoga',
 'd_interests_correlate',
 'd_expected_happy_with_sd_people',
 'd_expected_num_interested_in_me',
 'd_expected_num_matches',
 'd_like',
 'd_guess_prob_liked']

In [5]:
cols = set(df.columns)
categorized_cols = ["gender"] + [col for col in df if col.startswith('d_')]
categorized_df = df[categorized_cols]
categorized_df

,gender,d_age,d_d_age,d_importance_same_race,d_importance_same_religion,d_pref_o_attractive,d_pref_o_sincere,d_pref_o_intelligence,d_pref_o_funny,d_pref_o_ambitious,...,d_concerts,d_music,d_shopping,d_yoga,d_interests_correlate,d_expected_happy_with_sd_people,d_expected_num_interested_in_me,d_expected_num_matches,d_like,d_guess_prob_liked
0,female,6,[4-6],[2-5],[2-5],[21-100],[16-20],[16-20],[16-20],[0-15],...,[9-10],[9-10],[6-8],[0-5],[0-0.33],[0-4],[0-3],[3-5],[6-8],[5-6]
1,female,1,[0-1],[2-5],[2-5],[21-100],[0-15],[0-15],[21-100],[0-15],...,[9-10],[9-10],[6-8],[0-5],[0.33-1],[0-4],[0-3],[3-5],[6-8],[5-6]
2,female,1,[0-1],[2-5],[2-5],[16-20],[16-20],[16-20],[16-20],[0-15],...,[9-10],[9-10],[6-8],[0-5],[0-0.33],[0-4],[0-3],[3-5],[6-8],[0-4]
3,female,2,[2-3],[2-5],[2-5],[21-100],[0-15],[0-15],[21-100],[0-15],...,[9-10],[9-10],[6-8],[0-5],[0.33-1],[0-4],[0-3],[3-5],[6-8],[5-6]
4,female,3,[2-3],[2-5],[2-5],[21-100],[0-15],[16-20],[0-15],[0-15],...,[9-10],[9-10],[6-8],[0-5],[0-0.33],[0-4],[0-3],[3-5],[6-8],[5-6]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8373,male,1,[0-1],[0-1],[0-1],[0-15],[0-15],[21-100],[16-20],[0-15],...,[9-10],[9-10],[6-8],[0-5],[0.33-1],[7-10],[0-3],[3-5],[0-5],[5-6]
8374,male,1,[0-1],[0-1],[0-1],[21-100],[16-20],[0-15],[0-15],[0-15],...,[9-10],[9-10],[6-8],[0-5],[0.33-1],[7-10],[0-3],[3-5],[0-5],[0-4]
8375,male,4,[4-6],[0-1],[0-1],[21-100],[0-15],[21-100],[0-15],[0-15],...,[9-10],[9-10],[6-8],[0-5],[-1-0],[7-10],[0-3],[3-5],[6-8],[5-6]
8376,male,3,[2-3],[0-1],[0-1],[0-15],[21-100],[21-100],[0-15],[0-15],...,[9-10],[9-10],[6-8],[0-5],[0.33-1],[7-10],[0-3],[3-5],[0-5],[5-6]
8377,male,3,[2-3],[0-1],[0-1],[16-20],[16-20],[0-15],[0-15],[0-15],...,[9-10],[9-10],[6-8],[0-5],[0-0.33],[7-10],[0-3],[3-5],[0-5],[5-6]

In [9]:
cat_1hot = pd.get_dummies(categorized_df)
encoded = df[["samerace", "met", "decision"]]
encoded = encoded.replace('?', 0)
encoded = encoded.apply(pd.to_numeric)
a = (0, 1)
encoded = encoded[encoded['met'].isin(a)]
print(encoded['met'].value_counts())
encoded.iloc[5550:5560] 
print(encoded.iloc[2420:2430])
cat_1hot = cat_1hot.join(encoded)
df[df.isna().any(axis=1)]
cat_1hot[cat_1hot.isna().any(axis=1)]

0    8019
1     351
Name: met, dtype: int64
      samerace  met  decision
2422         0    0         1
2423         1    0         1
2426         0    0         0
2427         0    1         1
2428         0    0         1
2429         1    0         0
2430         1    0         1
2431         0    0         0
2432         0    0         0
2433         0    0         0

,d_age,gender_female,gender_male,d_d_age_[0-1],d_d_age_[2-3],d_d_age_[4-6],d_d_age_[7-37],d_importance_same_race_[0-1],d_importance_same_race_[2-5],d_importance_same_race_[6-10],...,d_expected_num_matches_[5-18],d_like_[0-5],d_like_[6-8],d_like_[9-10],d_guess_prob_liked_[0-4],d_guess_prob_liked_[5-6],d_guess_prob_liked_[7-10],samerace,met,decision
826,3,1,0,0,1,0,0,0,0,1,...,0,0,0,1,0,0,1,NaN,NaN,NaN
1072,1,1,0,1,0,0,0,0,0,1,...,0,0,1,0,0,1,0,NaN,NaN,NaN
2424,2,1,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,1,NaN,NaN,NaN
2425,5,1,0,0,0,1,0,0,1,0,...,0,0,1,0,0,0,1,NaN,NaN,NaN
2491,4,1,0,0,0,1,0,0,0,1,...,0,0,0,1,0,0,1,NaN,NaN,NaN
2866,0,1,0,1,0,0,0,0,1,0,...,0,0,1,0,0,0,1,NaN,NaN,NaN
6667,9,0,1,0,0,0,1,0,0,1,...,0,1,0,0,0,1,0,NaN,NaN,NaN
7527,9,1,0,0,0,0,1,0,0,1,...,0,1,0,0,0,0,1,NaN,NaN,NaN

In [10]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(cat_1hot, test_size=0.1)
train

,d_age,gender_female,gender_male,d_d_age_[0-1],d_d_age_[2-3],d_d_age_[4-6],d_d_age_[7-37],d_importance_same_race_[0-1],d_importance_same_race_[2-5],d_importance_same_race_[6-10],...,d_expected_num_matches_[5-18],d_like_[0-5],d_like_[6-8],d_like_[9-10],d_guess_prob_liked_[0-4],d_guess_prob_liked_[5-6],d_guess_prob_liked_[7-10],samerace,met,decision
4253,1,0,1,1,0,0,0,1,0,0,...,0,0,1,0,1,0,0,0.0,0.0,0.0
7106,7,0,1,0,0,0,1,0,0,1,...,0,1,0,0,1,0,0,0.0,0.0,0.0
8105,2,0,1,0,1,0,0,0,1,0,...,0,0,1,0,1,0,0,1.0,0.0,1.0
2287,2,0,1,0,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0.0,0.0,1.0
2498,10,1,0,0,0,0,1,1,0,0,...,0,0,1,0,0,0,1,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7035,4,1,0,0,0,1,0,1,0,0,...,0,1,0,0,1,0,0,1.0,0.0,0.0
2958,4,1,0,0,0,1,0,0,0,1,...,0,1,0,0,0,0,1,1.0,0.0,0.0
4754,6,0,1,0,0,1,0,1,0,0,...,0,1,0,0,1,0,0,1.0,0.0,0.0
7953,1,0,1,1,0,0,0,1,0,0,...,0,0,1,0,0,0,1,0.0,0.0,0.0
1620,6,0,1,0,0,1,0,0,1,0,...,0,0,1,0,0,1,0,1.0,0.0,1.0

In [11]:
train_Y = train[['decision']]
train_Y

      decision
4253       0.0
7106       0.0
8105       1.0
2287       1.0
2498       1.0
...        ...
7035       0.0
2958       0.0
4754       0.0
7953       0.0
1620       1.0

[7540 rows x 1 columns]

In [12]:
train_X = train.iloc[:, 0:-1]  # Remove the ID and Class columns
train_X

,d_age,gender_female,gender_male,d_d_age_[0-1],d_d_age_[2-3],d_d_age_[4-6],d_d_age_[7-37],d_importance_same_race_[0-1],d_importance_same_race_[2-5],d_importance_same_race_[6-10],...,d_expected_num_matches_[3-5],d_expected_num_matches_[5-18],d_like_[0-5],d_like_[6-8],d_like_[9-10],d_guess_prob_liked_[0-4],d_guess_prob_liked_[5-6],d_guess_prob_liked_[7-10],samerace,met
4253,1,0,1,1,0,0,0,1,0,0,...,0,0,0,1,0,1,0,0,0.0,0.0
7106,7,0,1,0,0,0,1,0,0,1,...,1,0,1,0,0,1,0,0,0.0,0.0
8105,2,0,1,0,1,0,0,0,1,0,...,0,0,0,1,0,1,0,0,1.0,0.0
2287,2,0,1,0,1,0,0,1,0,0,...,0,0,0,1,0,1,0,0,0.0,0.0
2498,10,1,0,0,0,0,1,1,0,0,...,1,0,0,1,0,0,0,1,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7035,4,1,0,0,0,1,0,1,0,0,...,0,0,1,0,0,1,0,0,1.0,0.0
2958,4,1,0,0,0,1,0,0,0,1,...,0,0,1,0,0,0,0,1,1.0,0.0
4754,6,0,1,0,0,1,0,1,0,0,...,0,0,1,0,0,1,0,0,1.0,0.0
7953,1,0,1,1,0,0,0,1,0,0,...,1,0,0,1,0,0,0,1,0.0,0.0
1620,6,0,1,0,0,1,0,0,1,0,...,1,0,0,1,0,0,1,0,1.0,0.0

In [13]:
test

,d_age,gender_female,gender_male,d_d_age_[0-1],d_d_age_[2-3],d_d_age_[4-6],d_d_age_[7-37],d_importance_same_race_[0-1],d_importance_same_race_[2-5],d_importance_same_race_[6-10],...,d_expected_num_matches_[5-18],d_like_[0-5],d_like_[6-8],d_like_[9-10],d_guess_prob_liked_[0-4],d_guess_prob_liked_[5-6],d_guess_prob_liked_[7-10],samerace,met,decision
2362,6,0,1,0,0,1,0,1,0,0,...,0,0,1,0,0,0,1,1.0,0.0,1.0
2494,3,1,0,0,1,0,0,0,0,1,...,0,0,1,0,0,1,0,0.0,0.0,0.0
2551,1,0,1,1,0,0,0,1,0,0,...,0,1,0,0,1,0,0,1.0,0.0,0.0
6697,3,0,1,0,1,0,0,1,0,0,...,0,1,0,0,0,1,0,0.0,0.0,0.0
3099,1,0,1,1,0,0,0,0,0,1,...,0,0,1,0,0,1,0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4034,2,0,1,0,1,0,0,0,1,0,...,0,1,0,0,0,0,1,0.0,0.0,0.0
2722,6,1,0,0,0,1,0,0,1,0,...,0,0,1,0,0,0,1,0.0,0.0,0.0
868,3,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,1,1.0,0.0,0.0
2439,3,1,0,0,1,0,0,0,0,1,...,0,1,0,0,1,0,0,0.0,0.0,0.0
788,4,0,1,0,0,1,0,1,0,0,...,0,0,1,0,0,1,0,0.0,0.0,0.0

In [14]:
# Use the k-NN method (up to k_max) to predict the output variable on x_test, using the training data
def predict(x_test, x_train, y_train, k_min=1, k_max=25):
    all_predictions = []
    for k in tqdm(range(k_min,k_max)):
        # Create KNN classifier
        knn = KNeighborsClassifier(n_neighbors=k)
        # Fit the classifier to the data
        knn.fit(x_train, y_train)
        # Predict on x_test
        prediction = knn.predict(x_test)
        all_predictions.append(prediction)
    return all_predictions


# Check the accuracy of given predictions on the test set y_test
def check_accuracy(y_test, predictions):
    ground_truth = y_test.to_list()
    size = len(ground_truth)
    results = []

    for predict in predictions:
        count = 0
        for i, x in enumerate(ground_truth):
            if predict[i] == ground_truth[i]:
                count += 1
        results.append(count / size)
    return results


#############################################################